{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card text-center centrar" style="width: 22rem;">
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          <div class="login-logo">
            <img src="{% static 'img/LogoATpos200px.png' %}" class="img-responsive">
          </div>
          <!-- /.login-logo -->
          <p class="login-box-msg">Creación de una cuenta</p>
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="tunombre" placeholder="Tu nombre" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card-alt"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" name="tucorreo" placeholder="Tu correo" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card-alt"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="tel" class="form-control" name="phone_number" id="phone-number"
                onkeydown="phoneNumberFormatter()" placeholder="Tu teléfono" required />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          
          {% if form.errors %}
          <div class="row mt-2">
            <div class="alert alert-danger text-center">
              <p>Su email ya existe. Si olvidó su contraseña en la página de inicio seleccione ¿Olvidó su contraseña?
              </p>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </div>
</div>
<script>
  function formatPhoneNumber(value) {
    if (!value) return value;
    const phoneNumber = value.replace(/[^\d]/g, '');
    const phoneNumberLength = phoneNumber.length;
    if (phoneNumberLength < 4) return phoneNumber;
    if (phoneNumberLength < 7) {
      return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3)}`;
    } else {
      return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3, 6)}-${phoneNumber.slice(6, 9)}`;
    }
  }

  function phoneNumberFormatter() {
    const inputField = document.getElementById('phone-number');
    const formattedInputValue = formatPhoneNumber(inputField.value);
    inputField.value = formattedInputValue;
  }
</script>
{% endblock %}