{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card text-center centrar" style="width: 22rem;">
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo">
                    <img src="{% static 'img/LogoATpos200px.png' %}" class="img-responsive">
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Recuperar contraseña.</p>
                    <br />
                    <form method="post">{% csrf_token %}
                        <div>
                            <fieldset class="module aligned wide">

                                <div class="form-row">
                                    {{ form.old_password.errors }}
                                    {{ form.old_password.label_tag }} {{ form.old_password }}
                                </div>
                                <br />
                                <div class="form-row">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                    {% if form.new_password1.help_text %}
                                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-row">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                    {% if form.new_password2.help_text %}
                                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                    {% endif %}
                                </div>

                            </fieldset>
                            <br />
                            <div class="submit-row">
                                <button type="submit" class="btn btn-primary btn-block">Cambiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}