{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<!-- Main content -->
<section class="content" style="display: grid; place-items: center;">
    <!-- Default box -->
    <div class="col-md-4">
        <div class="card">
            <div class="card">
                <div class="card-body">

                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        {{ form }}
                        <button type="submit" class="btn btn-info">Borrar almacén</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}