{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<section class="content" style="display: grid; place-items: center;">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h1>Almacén</h1>
            </div>
            <div class="card-body">
                <table id="myTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Prefijo</th>
                            <th>Lista Precios</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for almacen in object_list %}
                        <tr>
                            <td>{{ almacen.nombre_almacen }}</td>
                            <td>{{ almacen.prefijo }}</td>
                            <td>{{ almacen.listaprecios }}</td>
                            <td>{{ almacen.ciudad }}</td>
                            {% if almacen.estado == '1' %}
                            <td><button id="boton_estado_{{almacen.id}}"
                                    onclick="cambiarEstado('{{almacen.id}}', 'almacen')"
                                    class="btn btn-success activo">Activo</button></td>
                            {% else %}
                            <td><button id="boton_estado_{{almacen.id}}"
                                    onclick="cambiarEstado('{{almacen.id}}', 'almacen')"
                                    class="btn btn-danger inactivo">Inactivo</button></td>
                            {% endif %}
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <div class="mx-auto">
                                        <a class="btn btn-secondary" href="{% url 'almacen-detail' almacen.id %}">
                                            <i class="fas fa-list"></i></a>
                                        <a class="btn btn-info" href="{% url 'almacen-update' almacen.id %}">
                                            <i class="fas fa-pen"></i></a>
                                        <a class="btn btn-danger" href="{% url 'almacen-delete' almacen.id %}">
                                                <i class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'almacen-crear' %}">
                    <button type="button" class="btn btn-info">Crear almacén</button>
                </a>
            </div>
        </div>
        <br><br>
    </div>
</section>

<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        new $.fn.dataTable.FixedHeader(table);
    });
</script>

{% endblock %}