{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="content" style="display: grid; place-items: center;">
    <!-- Default box -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detalle de caja</h3>
            </div>
            <div class="card-body">
                <h3>Caja número: {{ cajaserie.numero_caja }}</h3>
                {% if cajaserie.estado == '1' %}
                <p>Estado: Activo</p>
                {% else %}
                <p>Estado: Inactivo</p>
                {% endif %}
                <p>Almacén: {{ cajaserie.almacen }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'cajaserie-list' %}">
                    <button type="button" class="btn btn-info">Listado</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}