{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<section class="content" style="display: grid; place-items: center;">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h1>Categoría</h1>
            </div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update">
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}