{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="{% static 'atpos/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'atpos/bootstrap4-duallistbox/bootstrap-duallistbox.css' %}">

<h1>Crear Grupo</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear Grupo</button>
  </form>

  <!-- Incluye los archivos de JavaScript y CSS para el plugin Bootstrap Dual Listbox -->
  <link rel="stylesheet" type="text/css" href="{% static 'atpos/bootstrap4-duallistbox/bootstrap-duallistbox.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.2/jquery.bootstrap-duallistbox.min.js"></script>

  <!-- Script para inicializar el widget -->
  <script>
    $(document).ready(function () {
        $('.duallistbox').bootstrapDualListbox();
    });
  </script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-duallistbox/4.0.2/jquery.bootstrap-duallistbox.min.js"></script>

{% endblock %}